@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  position: relative;
  background-image: url(resources/desktop-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  margin: 4rem 0;
}

.timer {
  display: flex;
  justify-content: center;
}

.timer p {
  padding: 1rem 3rem;
  font-size: 5rem;
  margin: 1rem 0;
  border-radius: 5px;
  color: #444;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  display: flex;
  justify-content: center;
  padding: 1.2rem 2.5rem;
  margin: 1rem 2rem;
  width: 12rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #444;
  transition: all 0.5s ease-in;
  font-weight: 600;

  background: rgba(255, 255, 255, 0.43);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.buttons button[disabled] {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.timestamps {
  display: flex;
  justify-content: center;
  height: 30rem;
  margin: 2rem 0;
}

ul {
  color: #333;
  width: 30%;
  padding: 0.7rem 0;
  overflow-y: auto;

  background: rgba(255, 255, 255, 0.27);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  border: 1px solid rgba(255, 255, 255, 0.6);
}

li {
  list-style: none;
  padding: 1rem 2rem;
  font-size: 2rem;

  text-align: center;
  border-bottom: 1px solid rgb(255, 255, 255, 0.6);
}

@media only screen and (max-width: 767px) {
  body {
    background-image: url(resources/mobile-background.jpg);
  }

  main {
    margin: 1rem 0;
  }

  button {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    width: 7rem;
  }

  .timestamps {
    height: 45rem;
  }

  ul {
    width: 80%;
  }
}
